#menu {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
}

.btn-space {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 50%;
}

.button {
    width: 100%;
    height: 70%;
    padding: 20% 60px 20% 70px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.button>img {
    margin: 10px;
    width: 50%;
}