header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 60%;
}

#container {
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 10%;
    gap: 1%;
}

#container>h1 {
    text-align: center;
    color: #FFF;
}

#list {
    display: flex;
    flex-direction: column;
    background-color: #9AC9EC;
    margin: 25px 25px 0 25px;
    padding: 25px;
    border-radius: 10px;
    gap: 5px;
    width: 75%;
    max-height: 57vh;
    overflow-y: scroll;
}

#list>#items {
    list-style: none;
}

#list>#items>.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
}

#list>#items>.item>h3:first-of-type {
    width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#list>#items>.item>h3 {
    font-size: small;
}