#container {
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 5%;
    gap: 1%;
}

#container>h1 {
    text-align: center;
    color: #FFF;
}

#filter {
    width: 90%;
}

#filter button {
    font-family: 'Inter', sans-serif;
    padding: 5px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 50px;
    background-color: #9AC9EC;
    display: flex;
    align-items: center;
}

#filter>#search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#filter>#search>#inpt-search {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 50px;
    width: 100%;
}

#filter>#search img{
    width: 15px;
}

#filter>#options {
    display: flex;
    justify-content: space-between;
}

#filter>#options>.selected {
    border: 2px solid;
    border-color: #00FF00 #FFFF00 #FFFF00 #00FF00 ;
}

#filter>#options>.rev-selected {
    border: 2px solid;
    border-color: #FFFF00 #FF0000 #FF0000 #FFFF00;
}

#filter>#options>.btn-filter>img {
    width: 15px;
    margin-right: 5px;
}

#list {
    display: flex;
    flex-direction: column;
    background-color: #9AC9EC;
    margin: 15px 25px 0 25px;
    padding: 15px 25px;
    border-radius: 10px;
    gap: 5px;
    width: 75%;
    max-height: 58vh;
    overflow-y: scroll;
}

#list>#items {
    list-style: none;
}

#list>#items>.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

#list>#items>hr {
    margin: 5px 0;
    border-color: #000;
}

#list>#items>.item>h3:nth-of-type(2) {
    width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#list>#items>.item>h3 {
    font-size: small;
    font-weight: bold;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 5px
}

.actions>button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.actions>button>img:hover {
    filter: invert();
}

.inactive {
    color: red;
    opacity: 50%;
}

.inactive:hover {
    cursor: no-drop;
}