#container {
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 5%;
    gap: 1%;
}

#container>h1 {
    text-align: center;
    color: #FFF;
}

#list {
    display: flex;
    flex-direction: column;
    background-color: #9AC9EC;
    margin: 25px 25px 0 25px;
    padding: 25px;
    border-radius: 10px;
    gap: 5px;
    width: 75%;
    max-height: 60vh;
    overflow-y: scroll;
}

#list>#items {
    list-style: none;
}

#list>#items>.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

#list>#items>.item>h3:first-of-type {
    width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#list>#items>.item>h3 {
    font-size: small;
}

.imgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 5px
}

.imgs>button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.imgs>button>img:hover {
    filter: invert();
}

.inactive {
    color: red;
    opacity: 50%;
}

.inactive:hover {
    cursor: no-drop;
}